/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
    background-color: #de3626;
    color: #333;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

input[type=text] {
  border: 1px solid #AAA;
  border-radius: 10px;
  font-size: 120%;
}

input[type=submit] {
  border: 1px solid #AAA;
  border-radius: 10px;
  cursor: pointer;
  font-size: 112%;
}

.base-container {
  background-color: #FCDEE2;
  border-radius: 10px;
  margin: 30px auto;
  padding: 10px;
  width: 90%;
}

.review-star {
  display: inline-block;
  border: 1px solid #b2b2b2;
  border-radius: 100%;
  height: 25px;
  margin: 10px;
  width: 25px;
}

#appliation-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
}

.review-star-filled {
  background-color: yellow;
}

.review-item {
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
}

.more-items {
  cursor: pointer;
  text-align: center;
}

.review-header {
  font-weight: 300;
}

.review-header {
  font-weight: 500;
}

.review-text {
  font-weight: 300;
}
.review-body-text {
  font-size: 70%;
  font-weight: 300;
}